
.contactimg{
    background-image: url("https://i.ytimg.com/vi/MPV2METPeJU/maxresdefault.jpg");
    background-size: cover;
    opacity: 0.9;
}
.contactpage{
background-color: rgba(32, 30, 30, 0.5);
margin:110px 500px;
/* border: 2px solid black; */
padding: 20px 10px;
text-align: center;
}

.box{
    padding: 10px;
}
.firstname{
    padding: 8px 30px;
    font-size: 18px;
    text-align: start;
}
.textme{
    padding: 10px;
    font-size: 15px;
}

/* for both button cancel and submit */
.cancel{
    padding: 10px;
    background-color: blue;
    color:white;
    border-radius: 10px;
    /* border:none; */
    cursor: pointer;
}
  