{% extends 'base.html'%}
{%block title%} About {%endblock title%}
{% block body%}
 <div class="aboutimg">
     <div class="aboutpage">
        <h6 class="heaer"> About Us</h6>
        <p class="aboutpara">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Corrupti mollitia, iste cupiditate laudantium magni eveniet alias ullam 
             quas asperiores, incidunt dolor, non laborum tempore atque sunt aliquam
              accusantium voluptas inventore odit a numquam. Eligendi at debitis, aliquid 
              odio distinctio impedit nobis ea, veniam odit cumque veritatis consequatur, quia architecto beatae.
        </p>
        <p class="aboutpara">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Corrupti mollitia, iste cupiditate laudantium magni eveniet alias ullam 
             quas asperiores, incidunt dolor, non laborum tempore atque sunt aliquam
              accusantium voluptas inventore odit a numquam. Eligendi at debitis, aliquid 
              odio distinctio impedit nobis ea, veniam odit cumque veritatis consequatur, quia architecto beatae.
        </p>
        <p class="aboutpara">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Corrupti mollitia, iste cupiditate laudantium magni eveniet alias ullam 
             quas asperiores, incidunt dolor, non laborum tempore atque sunt aliquam
              accusantium voluptas inventore odit a numquam. Eligendi at debitis, aliquid 
              odio distinctio impedit nobis ea, veniam odit cumque veritatis consequatur, quia architecto beatae.
        </p>
        <p class="aboutpara">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Corrupti mollitia, iste cupiditate laudantium magni eveniet alias ullam 
             quas asperiores, incidunt dolor, non laborum tempore atque sunt aliquam
              accusantium voluptas inventore odit a numquam. Eligendi at debitis, aliquid 
              odio distinctio impedit nobis ea, veniam odit cumque veritatis consequatur, quia architecto beatae.
        </p>
        <p class="aboutpara">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Corrupti mollitia, iste cupiditate laudantium magni eveniet alias ullam 
             quas asperiores, incidunt dolor, non laborum tempore atque sunt aliquam
              accusantium voluptas inventore odit a numquam. Eligendi at debitis, aliquid 
              odio distinctio impedit nobis ea, veniam odit cumque veritatis consequatur, quia architecto beatae.
        </p>
     </div>
 </div>
{% endblock body%}