{% extends 'base.html' %}
{% block title %}Home{% endblock title%}
{% block body %}
<div class="logo">
	<div class="para">
		<p  >When you’re ready to adopt a new dog, knowing where to start can be overwhelming.
		 The first step is to decide on the breed or mix that best suits your household. 
		 Remember, you are about to make a commitment to not only the dog, but to the rest of your family as well.

		Starting with an understanding of basic dog breed characteristics and their 
		needs is crucial to ensuring you find the best match. For example, 
		if you have a laid-back and low-energy household, a border collie 
		won’t be the best companion for you. By creating a list of breeds or mixes, 
		then narrowing it down as far as possible, you’ll be in a better position to 
		make the right selection when visiting a shelter or rescue.</p>

		<p style="text-indent: 50px;">When you’re ready to adopt a new dog, knowing where to start can be overwhelming.
		 The first step is to decide on the breed or mix that best suits your household. 
		 Remember, you are about to make a commitment to not only the dog, but to the rest of your family as well.

		Starting with an understanding of basic dog breed characteristics and their 
		needs is crucial to ensuring you find the best match. For example, 
		if you have a laid-back and low-energy household, a border collie 
		won’t be the best companion for you. By creating a list of breeds or mixes, 
		then narrowing it down as far as possible, you’ll be in a better position to 
		make the right selection when visiting a shelter or rescue.</p>
		<p style="text-indent: 50px;">When you’re ready to adopt a new dog, knowing where to start can be overwhelming.
		 The first step is to decide on the breed or mix that best suits your household. 
		 Remember, you are about to make a commitment to not only the dog, but to the rest of your family as well.

		Starting with an understanding of basic dog breed characteristics and their 
		needs is crucial to ensuring you find the best match. For example, 
		if you have a laid-back and low-energy household, a border collie 
		won’t be the best companion for you. By creating a list of breeds or mixes, 
		then narrowing it down as far as possible, you’ll be in a better position to 
		make the right selection when visiting a shelter or rescue.</p>
	</div>
	<!-- <div class="gif"></div> -->
	<!-- <h1> <span style="color:red;">A</span>dopt <span style="color: pink;">Me</span></h1>		 -->
</div>


	<h3>OUR ADOPTED DOGS</h3>
<div class="AdoptedDogs">

	<div class="lika dog"> 
			<div class="gif1"></div>
			<h2>I AM LIKA</h2>
			<P>We wanted to share this journey to demonstrate the lengths we go through to ensure that our most vulnerable rescues find a safe and happy home. Over a dozen people helped Oreo make it safely to her Forever Home.</P>
	</div>
	<div class="mikki dog">
		<div class="gif2"></div>
			<h2>I AM MIKKI</h2>
			<P>We wanted to share this journey to demonstrate the lengths we go through to ensure that our most vulnerable rescues find a safe and happy home. Over a dozen people helped Oreo make it safely to her Forever Home.</P>
	</div>
	<div class="sky dog">
		<div class="gif3"></div>
			<h2>I AM SKY</h2>
			<P>We wanted to share this journey to demonstrate the lengths we go through to ensure that our most vulnerable rescues find a safe and happy home. Over a dozen people helped Oreo make it safely to her Forever Home.</P>
	</div>
	<div class="snow dog">
		<div class="gif4"></div>
			<h2>I AM SNOW</h2>
			<P>We wanted to share this journey to demonstrate the lengths we go through to ensure that our most vulnerable rescues find a safe and happy home. Over a dozen people helped Oreo make it safely to her Forever Home.</P>
	</div>
	<div class="bhow dog">
		<div class="gif5"></div>
			<h2>I AM BHOW</h2>
			<P>We wanted to share this journey to demonstrate the lengths we go through to ensure that our most vulnerable rescues find a safe and happy home. Over a dozen people helped Oreo make it safely to her Forever Home.</P>
	</div>
	<div class="gimmy dog">
		<div class="gif6"></div>
			<h2>I AM GIMMY</h2>
			<P>We wanted to share this journey to demonstrate the lengths we go through to ensure that our most vulnerable rescues find a safe and happy home. Over a dozen people helped Oreo make it safely to her Forever Home.</P>
	</div>
	
</div>
<div calss="training">
	<h4>The importance of dog training</h4>
	<p class="parat">Positive Dog Training is a rewards-based approach to teaching pet parents how dogs think, learn and communicate. We focus on rewarding the behaviors we like to encourage appropriate dog behavior in the real world.</p>
	<div class="dogimg"></div>
</div>

{% endblock body %}
